<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
*{margin:10px;}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<a th:href="@{/showemployeeform}" class="btn btn-primary">ADD EMPLOYEE</a>
   <h1>List Of Employee</h1>

<table id="customers">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
     <th>Action</th>
  </tr>
  
<tr th:each="data:${name}">
<td th:hidden="${data.id}"></td>  
<td th:text="${data.firstName}"></td>

<td th:text="${data.secondName}"></td>

<td th:text="${data.emailId}"></td>
<td>
      <a th:href="@{/showeditform/{id}(id=${data.id})}">EDIT</a>
        <a th:href="@{/deleteById/{id}(id=${data.id})}">DELETE</a>
</td>
  </tr>
</table>


</body>
</html>