<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Add New Employee</h1>
<form th:action="@{/saveemployee}" th:object="${employee}" method="POST">
    <input type="text" th:field="*{firstName}" placeholder="type first name here"  /> <br>
    <input type="text" th:field="*{secondName}" placeholder="type second name here" /> <br>
    <input type="text" th:field="*{emailId}" placeholder="type emailid here" /> <br>
    <button>SAVE</button>
</form>
</body>
</html>